@tailwind base;
@tailwind components;
@tailwind utilities;


/* Adicionar esto a tu archivo CSS principal */

/* Clase para quitar la barra de desplazamiento */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
  }